**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!logo.png
!LICENSE

!apps/
!apps/**
!packages/
!packages/**
!plugins/
!plugins/**
!docs/
!docs/**
!tooling/
!tooling/**

!deploy/
!deploy/aio/
!deploy/aio/runtime/
!deploy/aio/runtime/**
!deploy/aio/s6-rc.d/
!deploy/aio/s6-rc.d/**
!deploy/development/
!deploy/development/workspace-entrypoint.sh

**/node_modules
**/dist
